:root {
  --clay-background: theme('colors.gray.300');
  --clay-border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clay-background: theme('colors.gray.600')
  }
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html.light {
  background-color: white;
  scrollbar-color: white theme('colors.gray.900');
}

html.dark {
  background-color: theme('colors.gray.900');
  scrollbar-color: theme('colors.gray.900') theme('colors.gray.200');
}

.markdown a {
  @apply dark:text-blue-400 text-blue-600 hover:underline;
}

.markdown h1 {
  @apply sm:text-4xl text-2xl font-bold pb-2 mb-6 border-b-[1px] border-gray-400;
}

.markdown h2 {
  @apply sm:text-3xl text-xl font-bold pb-2 mb-6 border-b-[1px] border-gray-400;
}

.markdown h3 {
  @apply sm:text-2xl text-xl;
}

.markdown ol, .markdown ul {
  @apply ml-5;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown * {
  @apply mb-4 break-words;
}

.markdown code {
  word-wrap: break-word !important;
}

.markdown pre {
  overflow-x: auto;
}

.markdown table {
  @apply w-full;
  border-top: 1px solid theme('colors.gray.500');
  border-left: 1px solid theme('colors.gray.500');
}

.markdown thead {
  @apply dark:bg-gray-800 bg-gray-400;
}

.markdown tbody {
  @apply dark:bg-gray-700 bg-gray-300;
}

.markdown th, .markdown td {
  @apply px-2 py-1 text-left;
  border-bottom: 1px solid theme('colors.gray.500');
  border-right: 1px solid theme('colors.gray.500');
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
  
  /* Track */
::-webkit-scrollbar-track {
  @apply dark:bg-gray-900 bg-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply dark:bg-gray-200 bg-gray-900 rounded-full;
}

.animated::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.1em;
  right: -0.1em;
  background-color: theme('colors.blue.500');
  transform-origin: bottom center;
  transform: scaleY(0.05);
  transition: all 0.2s ease-in-out;
}

.animated, .active {
  position: relative;
  z-index: 1;
  padding: 0px 2px;
}

.animated:hover::before {
  transform: scaleY(1);
  opacity: 0.5;
}

.active::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.1em;
  right: -0.1em;
  background-color: theme('colors.blue.800');
  transform-origin: bottom center;
  transform: scaleY(0.05);
  transition: all 0.2s ease-in-out;
}

.active:hover::before {
  transform: scaleY(1);
  opacity: 0.5;
}

.hover-highlight {
  position: relative;
  z-index: 1;
  padding: 0px 2px;
}

.hover-highlight::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.1em;
  right: -0.1em;
  background-color: var(--hh-color);
  transform-origin: bottom center;
  transform: scaleY(0.05);
  transition: all 0.2s ease-in-out;
}

.hover-highlight:hover::before {
  transform: scaleY(1);
  opacity: var(--hh-opacity);
}