@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind screens;

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html.light {
  background-color: white;
  scrollbar-color: white theme('colors.gray.900');
}

html.dark {
  background-color: theme('colors.gray.900');
  scrollbar-color: theme('colors.gray.900') theme('colors.gray.200');
}

pre code.bg-gray-400.bg-opacity-50 {
  background-color: transparent;
}

pre code.bg-gray-400.bg-opacity-50:first-child {
  padding-left: 0;
  padding-right: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
  
  /* Track */
::-webkit-scrollbar-track {
  @apply dark:bg-gray-900 bg-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply dark:bg-gray-200 bg-gray-900 rounded-full;
}

.animated-underline {
  position: relative;
  border-bottom: none;
}
    
.animated-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
  
.animated-underline:hover::before {
  transform: scaleX(1);
}

.active-underline {
  position: relative;
  border-bottom: none;
}

.active-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0.5);
}

.slanted-right {
  -webkit-clip-path: polygon(0 0, 0% 0, 0% 100%);
  clip-path: polygon(0 0, 1 0, 0% 100%);
  @apply text-left px-16;
}

.slide-top-clip-path {
  transform: skewY(-3deg)
}

.slide-bottom-clip-path {
  transform: skewY(3deg)
}

.card {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  padding: 20px;
}


.children-centered > * {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chip-list {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: auto;
}
@media (max-width: 768px) {
  .chip-list::before {
    position: sticky;
    top: 0;
    left: -0.2em;
    bottom: 0;
    content: '\00A0\00A0';
    font-size: 16px;
    color: transparent;
    width: 2rem;
    background-image: linear-gradient(to right, white, transparent);
  }

  html.dark .chip-list::before {
    background-image: linear-gradient(to right, theme('colors.gray.700'), transparent);
  }

  .chip-list::after {
    position: sticky;
    top: 0;
    right: -0.2em;
    bottom: 0;
    content: '\00A0\00A0';
    font-size: 16px;
    color: transparent;
    width: 2rem;
    background-image: linear-gradient(to left, white, transparent);
  }

  html.dark .chip-list::after {
    background-image: linear-gradient(to right, transparent, theme('colors.gray.700'));
  }
}

.chip-list::-webkit-scrollbar {
  display: none;
}

.hover-highlight {
  position: relative;
  z-index: 1;
  padding: 0px 2px;
}

.hover-highlight::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.1em;
  right: -0.1em;
  background-color: var(--hh-color);
  transform-origin: bottom center;
  transform: scaleY(0.05);
  transition: all 0.2s ease-in-out;
}

.hover-highlight:hover::before {
  transform: scaleY(1);
  opacity: var(--hh-opacity);
}
