---
import Main from '@/layouts/Main.astro';
---
<Main title="About">
  <h1 class="sm:text-6xl text-3xl font-bold">About me</h1>
  <div class="p-5 md:w-2/3 text-center md:text-left mx-auto font-light flex flex-col gap-5 justify-between h-full">
    <p class="sm:text-2xl text-lg">
      I'm a teenager from Chesterfield, VA. I like making cool websites and apps and
      whatever else you want me to make. I strive to learn everything I can get my hands on. 
      I've always had an inclination to math and science, which has led me to an interest in technology.<br /><br />
      I have about two years of experience with hardware and software development, but I tend
      to work on the software more. Most of my knowledge comes from <a class="text-blue-400 hover:underline" href="//github.com/ericcecchi">my uncle</a>,
      who is a full-stack developer for <a class="text-blue-400 hover:underline" href="//arcadia.com">Arcadia</a>.
    </p>
    <p class="text-xl">Check out some of my <a class="font-bold" href="/projects">projects</a>.</p>
    <a target="_blank" class="m-auto" rel="noopener noreferrer" href="https://github.com/ztcollazo/joke.svg">
      <img src="https://jokesvg.ztco.workers.dev/random?theme=nord" alt="" />
    </a>
  </div>
</Main>